<div class="comment__card">
  <div class="comment__card__avatar">
    <% if comment.user.avatar.present? %>
      <% user_avatar = comment.user.avatar %>
      <%= cl_image_tag user_avatar, crop: :thumb, gravity: :face, width: 40, height: 40, style: "border-radius: 50%;" %>
    <% else %>
      <% user_avatar = "default-avatar.png" %>
      <%= image_tag user_avatar, crop: :thumb, gravity: :face, width: 40, height: 40, style: "border-radius: 50%;" %>
    <% end %>

  </div>
  <div class="comment__card__content">
    <div class="comment__card__pseudo">
      <%= comment.user.pseudo %> -
      <%= comment.created_at.strftime("%d/%m/%y") %>
    </div>
    <div class="comment__card__message">
      <%= comment.message %><br>
    </div>
  </div>
</div>
