<div class="container">
  <h1>Mettez à jour votre article</h1>
  <div>
    <%= simple_form_for (@theme) do |f| %>
      <%= f.input :name, as: :text, label: "Titre de votre thème", placeholder: "décrivez le theme de votre challenge" %>
      <%= f.input :deadline, label: "Deadline de votre thème", order: [:day, :month, :year], placeholder: "précisez la date limite de votre challenge" %>
      <%= f.input :category_id, label: "Sélectionnez votre catégorie", collection: @categories %>
      <p>
        <%= cl_image_tag(@theme.photo, height: 100, Width: "auto") if @theme.photo? %>
        <%= f.file_field :photo %>
        <%= f.hidden_field :photo_cache %>
      </p>
      <p><%= f.button :submit %></p>
    <% end %>
  </div>
</div>

