<div class="container">
  <div class="row">
    <div class="filter__theme col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <p><%= link_to "TOUS", themes_path %></p>
      <p><%= link_to "EN COURS", pending_themes_path %></p>
      <p><%= link_to "PUBLIES", ended_themes_path %></p>

    </div>
  </div>
</div>

<div class="container ">
  <div class="row ">
    <% @themes.each do |theme| %>
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-4">

    <!-- only theme which are still ongoing or past themes which contains at least one post are displayed -->
      <% if theme.posts.any? || !theme.deadline.past? %>
          <div class=" theme__box">
            <h1><%= link_to "#{theme.name}", theme_path(theme) %></h1>
            <!-- we display the picture of the theme if owner has included one in his theme -->
            <% if theme.photo.present? %>
              <p><%= cl_image_tag theme.photo, height: 280, width: 370, crop: :fill %></p>
            <% end %>

            <p>Thème proposé par</p>
              <% if theme.user.avatar.present? %>
                <% user_avatar = theme.user.avatar %>
                <p><%= cl_image_tag user_avatar, crop: :thumb, gravity: :face, width: 30, height: 30 %></p>
            <!-- user hasn't loaded a picture for his avatar yet-->
              <% else %>
                <% user_avatar = "default-avatar.png" %>
                <p><%= image_tag user_avatar, crop: :thumb, gravity: :face, width: 30, height: 30 %></p>
            <% end %>
            <%= theme.user.pseudo %>
          </p>
          <p>Date limite de soummission: <%= theme.deadline.strftime('%d/%m/%Y') %></p><br>
          </div>
      <% end %>
        </div>

  <% end %>
  </div>
  </div>
