<div class="container">
  <h1>Proposez votre thème</h1>
  <p>
    <%= simple_form_for (@theme) do |f| %>
    <%= f.error_notification %>
      <%= f.input :name, as: :text, label: "Titre de votre thème", placeholder: "décrivez le theme de votre challenge" %>
      <%= f.input :deadline, label: "Deadline de votre thème", order: [:day, :month, :year], placeholder: "précisez la date limite de votre challenge" %>
      <%= f.input :category_id, label: "Sélectionnez votre catégorie", collection: @categories %>
      <%= f.button :submit %>
    <% end %>
  </p>
</div>
