<div class="container">
  <h1>Publier un thème</h1>

    <%= simple_form_for (@theme) do |f| %>
    <%= f.error_notification %>

      <p>
        <%= f.input :name, as: :text, label: "Titre de votre thème", placeholder: "décrivez le theme de votre challenge" %>
      </p>

      <p>
        <%= f.input :deadline, label: "Deadline", order: [:day, :month, :year], placeholder: "précisez la date limite de votre challenge" %>
      </p>

      <p>
        <%= f.input :category_id, input_html: {class:'select2'}, placeholder: "séléctionez votre catégorie", label: "Catégorie", collection: @categories %>
      </p>

      <p>
        <%= f.label :photo do %>
          <%= f.file_field :photo %>
          <%= f.hidden_field :photo_cache %>
        <% end %>
      </p>

      <p>
        <%= f.button :submit, "Publier le thème", class: "btn btn-success" %>
      </p>
    <% end %>

</div>




