<div class="container">
  <h1>Proposez votre thème</h1>

    <%= simple_form_for (@theme) do |f| %>
    <%= f.error_notification %>

      <p>
        <%= f.input :name, as: :text, label: "Titre de votre thème", placeholder: "décrivez le theme de votre challenge" %>
      </p>

      <p>
        <%= f.input :deadline, label: "Deadline de votre thème", order: [:day, :month, :year], placeholder: "précisez la date limite de votre challenge" %>
      </p>

      <p>
        <%= f.input :category, input_html: {class:'select2'}, placeholder: "séléctionez votre catégorie", collection: @categories, id: 'select2' %>
      </p>

      <p>
        <%= f.label :photo do %>
          <%= f.file_field :photo %>
          <%= f.hidden_field :photo_cache %>
        <% end %>
      </p>

      <p>
        <%= f.button :submit %>
      </p>
    <% end %>

</div>



