
<section >
  <div class="container">
    <div class="row user__infos">
      <div class= "col-xs-12 col-sm-12 col-lg-12">
        <% if policy(@user).update? %>
          <h1>Mon profil (<%= @user.pseudo.capitalize %>)</h1>
            <%= render 'shared/avatar_picture' %>
          <p><%= link_to "Editer mon profil", edit_user_path(@user), class: "btn btn--secondary" %></p>
        <% else %>
          <h1>Profil de <%= @user.pseudo.capitalize %></h1>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- <section id="user__info">
  <div class="container">

  </div>
</section> -->

<section>
  <div class="container">
    <div class="row post__title">
      <div class=" col-xs-12 col sm 12 col lg 12">
        <% if policy(@user).update? %>
          <!-- current user has already wrotten some posts -->
          <% if @user.posts.any? %>
            <h2><%= link_to "Mes articles", user_posts_path(@user) %></h2>
          <% else %>
          <!-- current user hasn't wrotten some posts yet -->
            <h2><%= "Vous n'avez pas encore rédigé d'article" %></h2>
          <% end %>
        <% else %>
          <% if @user.posts.any? %>
            <h2><%= "Articles de #{@user.pseudo.capitalize}" %></h2>
          <% else %>
            <h2><%= "#{@user.pseudo.capitalize} n'a pas encore écrit d'article" %></h2>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>


