
<section >
  <div class="container">
    <div class="row user__infos">
      <div class= "col-xs-12 col-sm-12 col-lg-12 user__profile__card">

        <% if policy(@user).update? %>
          <div >
           <h1>Mon profil</h1><br>
            <%= render 'shared/avatar_picture' %>
            <p><%= @user.pseudo.capitalize %></p>
            <p>Inscrit depuis le <%= @user.created_at.strftime('%d/%m/%Y') %></p><br>
          </div>
          <span>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Mettre à jour mon profil
            </button>
          </span>
        <% else %>
          <h1>Profil de <%= @user.pseudo.capitalize %></h1>
        <% end %>

        <% if policy(@user).update? %>
          <!-- current user has already wrotten some posts -->
          <span>
            <% if @user.posts.any? %>
              <%= link_to "Mes articles", user_posts_path(@user), class: "btn btn-success" %>
            <% else %>
            <!-- current user hasn't wrotten some posts yet -->
              <h2><%= "Vous n'avez pas encore rédigé d'article" %></h2>
            <% end %>
          </span>
        <% else %>
          <% if @user.posts.any? %>
            <h2><%= "Articles de #{@user.pseudo.capitalize}" %></h2>
          <% else %>
            <h2><%= "#{@user.pseudo.capitalize} n'a pas encore écrit d'article" %></h2>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mettre à jour mon profil</h4>
      </div>
      <%= simple_form_for (@user) do |f| %>
      <div class="modal-body">
        <%= render "shared/avatar_picture"%>
        <%= f.input :avatar, hint: "télécharger une nouvelle photo pour changer d'avatar" %>
        <%= f.input :avatar_cache, as: :hidden %>
        <%= f.input :pseudo, label: "Pseudo" %>
      </div>
      <div class="modal-footer ">
        <%
=begin %>
        <div class="user__form">
          <h3>Changer de mot de passe</h3>
          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>
          <%= f.input :password, label: "Nouveau mot de passe", autocomplete: "off", hint: "Ne rien remplir si vous ne souhaitez pas changer votre mot de passe", required: false %>
          <%= f.input :password_confirmation, label: "Confirmez votre nouveau mot de passe", required: false %>
        </div>
       <%
=end    %>
        <div class="form-actions">
          <%= f.button :submit, "Mettre à jour" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>












