
<section >
  <div class="container">
    <div class="row user__infos">
      <div class= "col-xs-12 col-sm-12 col-lg-12">
        <% if policy(@user).update? %>
          <div class="user__profile__card">
           <span>Mon profil (<%= @user.pseudo.capitalize %>)</span><br>
           <span>Inscrit depuis le <%= @user.created_at.strftime('%d/%m/%Y')  %> </span><br>
            <span><%= render 'shared/avatar_picture' %></span>
          </div>
          <div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Mettre à jour mon profil
            </button>
          </div>

        <% else %>
          <h1>Profil de <%= @user.pseudo.capitalize %></h1>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- <section id="user__info">
  <div class="container">

  </div>
</section> -->

<section>
  <div class="container">
    <div class="row post__title">
      <div class=" col-xs-12 col sm 12 col lg 12">
        <% if policy(@user).update? %>
          <!-- current user has already wrotten some posts -->
          <% if @user.posts.any? %>
            <h2><%= link_to "Mes articles", user_posts_path(@user) %></h2>
          <% else %>
          <!-- current user hasn't wrotten some posts yet -->
            <h2><%= "Vous n'avez pas encore rédigé d'article" %></h2>
          <% end %>
        <% else %>
          <% if @user.posts.any? %>
            <h2><%= "Articles de #{@user.pseudo.capitalize}" %></h2>
          <% else %>
            <h2><%= "#{@user.pseudo.capitalize} n'a pas encore écrit d'article" %></h2>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mettre à jour mon profil</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer ">
        <div class="user__form">
          <%= simple_form_for (@user) do |f| %>
            <%= f.input :pseudo, label: "Pseudo" %>
            <br>
            <% if @user.avatar.present? %>
              <%= cl_image_tag @user.avatar, height: 75, width: 100, crop: :fill, style: "border-radius: 50%" %>
              <%= f.input :avatar, label: "Changer mon avatar" %>
            <% else %>
              <%= f.input :avatar, label: "Ajoutez un avatar" %>
              <%= f.input :avatar_cache, as: :hidden %>
            <% end %>

            <h3>Changer de mot de passe</h3>
            <br>
            <%= f.input :password, label: "Nouveau mot de passe", autocomplete: "off", hint: "Ne rien remplir si vous ne souhaitez pas changer votre mot de passe", required: false %>
            <%= f.input :password_confirmation, label: "Confirmez votre nouveau mot de passe", required: false %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Mettre à jour" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
