
<section >
  <div class="container">
    <div class="row user__infos">
      <div class= "col-xs-12 col-sm-12 col-lg-12">
        <% if policy(@user).update? %>
          <h1>Mon profil (<%= @user.pseudo.capitalize %>)</h1>
            <%= render 'shared/avatar_picture' %>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Editer mon profil
            </button>

        <% else %>
          <h1>Profil de <%= @user.pseudo.capitalize %></h1>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!-- <section id="user__info">
  <div class="container">

  </div>
</section> -->

<section>
  <div class="container">
    <div class="row post__title">
      <div class=" col-xs-12 col sm 12 col lg 12">
        <% if policy(@user).update? %>
          <!-- current user has already wrotten some posts -->
          <% if @user.posts.any? %>
            <h2><%= link_to "Mes articles", user_posts_path(@user) %></h2>
          <% else %>
          <!-- current user hasn't wrotten some posts yet -->
            <h2><%= "Vous n'avez pas encore rédigé d'article" %></h2>
          <% end %>
        <% else %>
          <% if @user.posts.any? %>
            <h2><%= "Articles de #{@user.pseudo.capitalize}" %></h2>
          <% else %>
            <h2><%= "#{@user.pseudo.capitalize} n'a pas encore écrit d'article" %></h2>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editer mon profil</h4>
      </div>
      <div class="modal-body">
        Editer votre profil
      </div>
      <div class="modal-footer">
        <%= simple_form_for (@user) do |f| %>
          <%= f.input :pseudo, label: "Pseudo" %>
          <br>
          <% if @user.avatar.present? %>
            <%= cl_image_tag @user.avatar, height: 75, width: 100, crop: :fill %>
            <%= f.input :avatar, label: "Changer mon avatar" %>
          <% else %>
            <%= f.input :avatar, label: "Ajoutez un avatar" %>
            <%= f.input :avatar_cache, as: :hidden %>
          <% end %>
          <br>
          <br>
          <%= f.button :submit, "mettre à jour le profil" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
