<div class="row ">
  <% @pending_themes.each do |theme| %>
    <div class=" col-xs-12 col-sm-6 col-md-4 theme__box">
      <!-- only theme which are still ongoing or past themes which contains at least one post are displayed -->
      <% if theme.photo.present? %>
        <div class=" theme__card">
          <%= render 'shared/theme-card', theme: theme %>
          <%= cl_image_tag theme.photo, height: 140, width: 370, crop: :fill %>

          <div class="theme__publication">
            <p>Date limite de soumission: <%= theme.deadline.strftime('%d/%m/%Y') %></p>
          </div>
        </div>
      <% else %>
        <div class=" theme__card">
          <%= render 'shared/theme-card', theme: theme %>
          <div class="theme__publication">
            <p>Date limite de soumission: <%= theme.deadline.strftime('%d/%m/%Y') %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
