<div class="row ">
  <% @pending_themes.each do |theme| %>
    <div class=" col-xs-12 col-sm-6 col-md-4 theme__box">
      <!-- only theme which are still ongoing or past themes which contains at least one post are displayed -->
      <% if theme.photo.present? %>
        <div class=" theme__card">
          <%= render 'shared/theme-card', theme: theme %>
          <%= render 'themes/theme-image', theme: theme %>
          <%= render 'themes/theme-deadline', theme: theme %>
        </div>
      <% else %>
        <div class=" theme__card">
          <%= render 'shared/theme-card', theme: theme %>
          <%= render 'themes/theme-deadline', theme: theme %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
