
<div class="container">
  <h1>Poursuivre mon article</h1>
  <br>
  <p>
    <%= simple_form_for [@theme, @post] do |f| %>
      <%= f.error_notification %>

      <div>
        <%= f.input :content, as: :text %>
      </div>
      <div>
        <%= f.input :private, as: :boolean, inline_label: 'Je souhaite que ce contenu reste privé' %>
      </div>
      <div>
        <%= f.button :submit, "mettre à jour" %>
      </div>
    <% end %>
  </p>
</div>
