<section>
  <div class="container">
    <div class="row post__title">
      <div class=" col-xs-12 col-sm-12 col-lg-12">
        <% if policy(@user).update?%>
          <% if @user.posts.any? %>
          <!-- current user is the owner of the posts -->
            <h2><%= "Mes articles" %></h2>
          <% else %>
            <h2><%= "Vous n'avez pas encore rédigé d'articles" %></h2>
          <% end %>
        <% else %>
          <h2><%= "Articles de #{@user.pseudo.capitalize}" %></h2>
        <% end %>
      </div>
    </div>
    <div class="row theme__title">
      <% @user.posts.each do |post| %>
        <div class=" col-xs-12 col-sm-6 col-md-4 theme__box">
          <!-- only theme which are still ongoing or past themes which contains at least one post are displayed -->
          <% if post.theme.photo.present? %>
            <div class=" theme__card">
              <%= render 'shared/post-card', post: post %>
              <%= cl_image_tag post.theme.photo, height: 140, width: 370, crop: :fill %>
              <div class="theme__publication">
                <p>Date de publication: <%= post.theme.deadline.strftime('%d/%m/%Y') %></p>
              </div>
            </div>

          <% else %>
            <div class=" theme__card">
              <%= render 'shared/post-card', post: post %>
              <div class="theme__publication">
                <p>Date de publication: <%= post.theme.deadline.strftime('%d/%m/%Y') %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

