
<section class="container">
  <% if policy(@post).update? %>
    <div class="post__card">
      <h1><%= "Mon article" %></h1>
      <p><%= @post.content %></p>
      <%= link_to "Mettre à jour", edit_theme_post_path(@theme, @post) %>
    </div>
    <%= render 'comments/comment-card' %>

  <% else %>
    <div class="post__card">
      <h1><%= "Article de #{@post.user.pseudo}" %></h1>
      <p><%= @post.content %></p>
    </div>
    <% if @post.comments.blank? %>
      <h2 class='comment__title'><%= "Soyez le premier à laisser un commentaire!" %></h2>
      <%= render 'comments/comment-card' %>
    <% else %>
      <h2 class='comment__title'>Commentaires</h2>
      <%= render 'comments/comment-card' %>
    <% end %>
  <% end %>
</section>

