
<section class="container post__card">

    <% if policy(@post).update? %>
        <h1><%= "Mon article" %></h1>
        <p><%= @post.content %></p>
        <%= link_to "Mettre à jour", edit_theme_post_path(@theme, @post) %>
        <%= render 'post-comments' %>
        <%= render 'comments/comment-form' %>


    <% else %>

        <h1><%= "Article de #{@post.user.pseudo}" %></h1>
        <p><%= @post.content %></p>
        <% if @post.comments.blank? %>
          <%= "Soyez le premier à laisser un commentaire!" %>
          <%= render 'post-comments' %>
          <%= render 'comments/comment-form' %>
        <% else %>
          <%= render 'post-comments' %>
          <%= render 'comments/comment-form' %>
        <% end %>
    <% end %>

</section>
